@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #6b1322;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --color-primary: var(--text-primary);
  --color-melaniePink: #efaada;
  --breakpoint-xs: 480px;
  --breakpoint-xxs: 260px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}
